/*ヘッダーのcss*/
@media screen and (min-width: 700px) {
	/* 300px以上に適用されるCSS（PC用） */
.menu-item {
        list-style: none;
        display: inline-block;
        padding-right:50px;
        padding: 10px;
        font-size:15px;
        opacity: 0px;
}

}
@media screen and (max-width: 700px) {
	/* 700px以上に適用されるCSS（スマホ用） */
.menu-item {
        display: none;
}



.hamburger {
    position: relative;
    display: block;
    width: 50px;
    height: 25px;
    margin: 0 0 0 auto;
 }

.hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 60%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
 }
.hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 2px;
    background-color: #fff;
 }
.hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 2px;
    background-color: #fff;
 }
 /*
 .sp-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    transition: all .2s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
 }
 .sp-nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 .sp-nav li {
    margin: 0;
    padding: 0;
 }
 .sp-nav li span {
    font-size: 15px;
    color: #fff;
 }
 .sp-nav li a, .sp-nav li span {
    display: block;
    padding: 20px 0;
 }
 */
 /*基準となるli要素
.sp-nav .close {
    position: relative;
    padding-left: 20px;
 }*/
 /*バツ印線1
 .sp-nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( 45deg );
 }*/
 /*バツ印線2
 .sp-nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( -45deg );
 }
*/
}



header {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
}
   
.title-header {
    margin-right: auto;
    font-family: 'Hachi Maru Pop', cursive;
    color: white;
    font-size:20px;
    margin-left:10px;
}
   

span{
    display: none;
}

a{
    display:block;
    text-decoration: none;
    border-radius: 1px;
    color: white;
    padding:10px 3px;
    text-align: left;
}

.menu-item{
    font-family: 'Hachi Maru Pop', cursive;
}
/*ヘッダーのcss*/

/*アニメーションのcss*/
#slide-in-header{
    opacity: 0;
    animation-name: slide-in-header;
    animation-delay: 0.1s;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slide-in-header {
    0% {
      opacity: 0;
        transform: translateY(-30px);
     }
    100% {
      opacity: 1;
       transform: translateY(0px)
    }
}

#slide-in-hamburger{
   opacity: 0;
   animation-name: slide-in-hamburger;
   animation-delay: 0.5s;
   animation-duration: 0.5s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
}
@keyframes slide-in-hamburger {
   0% {
     opacity: 0;
       transform: translateX(100px);
    }
   100% {
     opacity: 1;
      transform: translateX(0px)
   }
}

/*アニメーションのcss*/

a {
   position: relative;
   display: inline-block;
   text-decoration: none;
 }
 a::after {
   position: absolute;
   bottom: -8px;
   left: 0;
   content: '';
   width: 100%;
   height: 2px;
   background: rgb(0, 0, 0);
   opacity: 0;
   visibility: hidden;
   transition: .3s;
 }
 a:hover::after {
   bottom: -1px;
   opacity: 1;
   visibility: visible;
 }